.debug {
    color: rgb(145, 255, 82);
}

.error {
    color: rgb(255, 50, 50);
}

.soql {
    color: rgb(37, 219, 255);
}

.line {
    margin: 0;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
}

#renderedHeightContainer {
    /* overflow-y: hidden;
    overflow-x: auto; */
    min-height: 100%;
}

#totalHeightContainer {
    overflow: auto;
    padding: 10px;
}

body {
    overflow: hidden;
}

* {
    scrollbar-width: thin;
}