.debug {
    color: rgb(145, 255, 82);
}

.error {
    color: rgb(255, 50, 50);
}

.line {
    margin: 0;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
}

#renderedHeightContainer {
    overflow-y: hidden;
    overflow-x: auto;
}

#totalHeightContainer {
    overflow: auto;
    padding: 10px;
}

body {
    overflow: hidden;
}